.uno {
  width: 33%;
  height: 100%;
  float: left;
}




.dos{
  width: 30%;
  height: 100%;
  float: left;
}


.tres{
  width: 33%;
  height: 100%;
  float: left;
}



@media screen and ( max-width:768px ) {
 
  body{
    width: 100%;
  }
 .uno .columna1{
    width:250px;
    
  }

  .dos .columna2{
    width: 500px;
  }

  body .tres{
    width: 500px;
  }
}

@media screen and (max-width: 480px){

  .uno{
    width: 100%;
    
    
  }
  .dos.columna2{
    width: 100%;
  }

  .tres.columna3{
    width: 100%;
  }
}