body {
  padding: 10px;
}


h1 {
  text-align: center;
  padding-bottom: 30px;
}

div {
  float: left;
  width: 30%;
  height: 100%;
  padding: 2px;
}

@media screen and (max-width:1024px) {



  .p-left {
    width: 25%;
  }


  .p-medio {
    float: right;
    width: 70%;
  }

  .p-right {
    float: right;
    width: 70%;

  }

.ul1 {
  list-style: none;
padding: 0;
}

  .ul1 > li {
    float: left;
    width: 30%;
    padding: 11px ;
  }

}

@media screen and  (max-width:768px){
  
  .columna {
    float: left;
    width: 100%;
    font-size: 20px;
    padding: 0 0 0 15px;
  }

  .p-left ul {
    list-style: none;
  }


  .p-right ul{
    list-style:disc;
  }

  .ul1 > li {
    float: left;
    width: 100%;
  }
}






