*{
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.header{

  background-color: rgb(6, 21, 51);
  position: relative;
  height: 310px;
  width: 100%;
}

.header .foto img{
  width: 25%;
  height: 310px;
  float: left;
  margin-right:  2rem;
}

.header .datosPersonales{
  float: left;
  height: 310px;
}


.header .datosPersonales h1{
color:white;
padding-top: 35px;
font-size: 50px;
}
.header .datosPersonales h3{
  color: rgba(226, 242, 242, 0.361);
  font-size: 40px;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.header .datosPersonales a{
  color: rgba(226, 242, 242, 0.361);
  text-decoration: none;
  font-size: 25px;
  margin-right: 3rem;
}

.header .datosPersonales a i{
  margin-right: 1rem;
}



main .contenido{
  position: relative;
  width: 100%;
  
}


.contenido .der{
  float: left;
  width: 75%;
  padding-bottom: 5rem;
}

.contenido .der h2{
  font-size: 30px;
 padding: 3rem;
 color: rgba(23, 81, 81, 0.834);
}
.contenido .der .sub{
  padding-left: 4rem;
  font-size:25px ;
  padding-bottom: 10px;
}

.contenido .der p{
  padding-left: 4rem;
  padding-bottom: 10px;
  font-size: 25px;
}


.contenido .izq{
  background-color: rgba(229, 233, 241, 0.784);
  width: 25%;
 
  float: left;
  
  
}


.contenido .izq h2{
  color: rgba(5, 58, 58, 0.903);
  font-size: 35px;
  padding-bottom: 3rem;
  padding-top: 3rem;
 text-align: center;
}


.contenido .izq .t{
  font-weight: bold;
 
}


.contenido .izq p{
  font-size: 20px;
  padding-left: 2rem; 
  padding-bottom: 1rem; 

}

footer{
  height: 200px;
  float: left;
  width: 100%;
  background-color: rgb(6, 21, 51);

}
footer .piedp {
  
  color: rgb(247, 239, 239);
  padding: 2rem;
  font-size: 30px;
  }

footer .piedp ul{
list-style: none;
width: 3rem;
}




.piedp .redesSociales li i{
  display: inline-block;
  width: 60px;
  text-align: center;
  color: #fff;

}
