
* {
  margin: 0px;}
  
  
  body {
    color: white;
    background-color: rgb(17, 37, 54);
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
  }
  
  
  header {
    text-align: center;
    font-size: 30px;
    height: 50%;
    width: 100%;
    border: 5px solid rgb(20, 68, 20);
    margin-bottom: 15%;
  }
  
  h1 {
    margin-top: 10%;
  }
  
  
  
  
  div {
    margin: 0 auto;
    width: 650px;
    height: 150px;
    text-align: center;
  }
  
  div .hora-nueva {
    font-size: 160px;
    float: left;
    width: 90%;
    height: 100%;  
  }
  
  div .p1 , .p2 {
    margin-top: 15px;
    float: left;
    width: 10%;
    font-size: 60px;
    height: 40%;
  }