.titulo{
  font-size: 35px;
  display: block;
}
.subtitulo{
  font-size: 30px;
  font-weight: bold;
}


a{
  text-decoration: none;
  font-size: 20px;
}

.uno{
width: 23%;
height: 600px;
float: left;
padding-right: 5rem;
}

li{
  font-size: 25px;
}


@media screen and (max-width: 480px) {

  .titulo{
    color: rgb(52, 18, 84);
    width: 320px;
  }
  .subtitulo{
    border-bottom: 1px solid rgba(0, 0, 0, 0.321);
  }

  .uno ul{
    width: 50%;
  }
   
  
  .uno{
    width: 100%;
    height: 380px;
}

.dos{
  width: 100%;
  height: 380;
}
.fechas{
  display: block;
  width: 100%;
  font-weight: bold;
}
.dos li{
  font-weight: 600;
  font-size: 25px;
}

.tres li{
  font-weight: 600;
  font-size: 25px;
}
}
