
* {
  padding: 0px;
}


body {
  margin-top: 15%;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}




p {
  height: 40px;
  font-size: 40px;
}

.entrada {

  height: 60px;
  margin-bottom: 5px;
  border: none;
  background:none;
  font-size: 40px;
}

caption{
 font-size: 40px; 
}

table {
  height: 400px;
  margin: 0 auto;
  border: 2px solid black;

}

td{
width: 130px;
height: 60px;
padding: 1px;
}


td input{
  height: 100%;
 width: 100%;
 font-weight: bold;
 font-size: 20px;
 border: 1px solid rgb(224, 223, 223);
}

.n:hover {
  background-color: rgb(207, 207, 207);
  border: none;
}

.boton-op:hover {
  background-color: rgb(162, 192, 208);
}

.reset {
  background-color: rgb(240, 78, 78);
}

.reset:hover {
  background-color: rgb(240, 140, 140);
}

.equals {
  background-color: rgb(55, 165, 238);
}

.equals:hover {
  background-color: rgb(155, 224, 252);
}

