* {
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(166, 164, 164);
}


h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}


div {
  float: left;
}



.izq {
  background-color: greenyellow;
  width: 20%;
  margin: 0 3%  0 0;
}

.medio {
  background-color: yellow;
  width: 50%;
  margin: 0 3%  0 0;
}

.medio p {
  float: left;
  width: 100%;
  padding: 9px 0px;
}

.medio img {
  float: left;
  width: 100%px;
  height: 250px;
  padding-bottom: 10px; 
  margin-right: 0px; 
  margin-left: 30px;
}

.der {
  background-color: rgb(87, 87, 87);
  width: 20%;
}

@media screen  and (max-width: 768px) {
  
  .izq {
    width: 20%;
  }

  .medio{
    float: right;
    width: 72%;
    padding: 0px;

  }

  .medio img {
    float: left;
    width: 200px;
    height: 350px;
    /* padding-bottom: 100px; */
    /* margin-bottom: 30px;
    margin-left: 30px;*/
    margin-right: 0px; 
    margin-left: 30px;
  }

  
  .der {
    float: right;
    width: 72%;
    margin: 0 3% 0 0;
  }
}

@media screen and (max-width:420px) {
  .p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .medio p {
    float: left;
    width: 100%;
  }

  .medio img {
    float:left;
    margin-left: 30px;
    
  }

  .medio {
    margin-bottom: 30px;
  }
  

}