body {
  padding: 10px;
}


h1 {
  text-align: center;
  padding-bottom: 30px;
}

div {
  float: left;
  width: 30%;
  height: 100%;
  padding: 2px;
}

@media screen and (max-width:1024px) {
  .izq {
    width: 25%;
  }


  .medio {
    float: right;
    width: 68%;
  }

  .der {
    float: right;
    width: 68%;

  }

.XD {
  list-style: none;
padding: 0;
}

  .XD > li {
    float: left;
    width: 30%;
    padding: 12px ;
  }

}

@media screen and  (max-width:768px){
  
  .columna {
    float: left;
    width: 100%;
    font-size: 20px;
    padding: 0 0 0 15px;
  }

  .izq ul {
    list-style: none;
  }


  .der ul{
    list-style:disc;
  }

  .XD > li {
    float: left;
    width: 100%;
  }
}






