  *{
    margin: 0;
    box-sizing: border-box;
  }

 a {
    display: inline-block;
    text-decoration: none;
  }

 body{
    font-family: 'Open Sans', sans-serif;
    
  }


  header{
    width: 100%;
    height: 180px;
    position: relative;
    padding: 15px 0px;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-image: url('https://www.boliviaentusmanos.com/images_turismo/departamentos/la_paz.jpg');
    
    
  } 

  header .container-header{
    display: flex;
    justify-content: space-between;
  }

  header .logo-header{
     width: 200px;
     height: 160px;
 }

  header .container-header .navar{
    width: 1024px;
    position: relative;
    padding-left: 180px;
    padding-top: 115px;
    margin-right: -7rem
  }


  header .container-header .navar a {
    background-color: rgba(26, 10, 36, 0.802);
    color: #f8f3f3;
    font-size: 25px;
    padding: 0px 25px;
    border-radius: 8px;

  
  }

  header .container-header .hamburguer{
    width: 30px;
    position: relative;
    color: rgb(13, 13, 13);
  }

  /* header .container-header .sitebar{
    width: 20%;
    float: right;
    position: relative;

  }


  header .container-header .sitebar a{
    color: rgb(255, 0, 0);
    padding: 25px 0;
    font-size: 20px;
    width: 100%;
  
    } */

    #init{
      position: relative;
     background-image: url('https://www.entornoturistico.com/wp-content/uploads/2016/01/turismo.jpg');
      height: 37rem;
      
      
      
      
    }

  #init img{
    text-align: center;
    position: relative;
    width: 80%;
    display: block;
    height: 500px;
    margin: 0 auto;
    border: solid 2px rgb(16, 16, 16);
    border-radius: 4rem;
    top: 2rem;
    
    
  }
  #init img:hover{
    -webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
  }

  #init .texto {
    width: 500px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 6rem;
    left: 15%;
    
    background-color: rgba(4, 4, 25, 0.176);
    border-radius: 25px;
  }

  #init .texto h2{
    color: rgb(3, 46, 145);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold ;
    font-size: 40px;
    position: relative;
    text-align: center;
  }

  #init .texto p{
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #init .texto a{
    position: relative;
    color: white;
    background-color: rgb(9, 76, 221);
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    top: 2rem;
  }



 .we{
    padding-top: 10rem;
    position: relative;
    text-align: center;
    background-image: url('https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }
  .we h1{
    color: rgb(233, 240, 242);
    font-size: 45px;
    padding-bottom: 5rem;
  }
  .we p{
    display: inline-block;
    color: rgb(252, 246, 246);
    font-size: 35px;
    background-color: #cc9a9a1d;
    margin-bottom: 4rem;

  }



  .services{
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: aqua;
  }

    

  .services .container-main {
    width: 100%;
    position: relative;
  
  }

  .container-main .service-turismo .siz{
   display: inline-block;
    border-radius: 4rem;
  }

  .services h1{
    color: blue;
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }




 .services .container-main .service-turismo {
  
  width: 30%;
  background-color: rgb(223, 214, 214);
  float: left;
  flex-wrap: wrap;
  margin-left:3% ;
  margin-bottom: 3rem;
 
 }

.services .container-main img{
    width: 100%;
    height: 330px;
    position: relative;
  }

  .services .container-main .description{

  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 255, 0.114);

  }







  
  .galeria{
    width: 100%;
   background-image: url('https://www.tipode.net/wp-content/uploads/2018/04/word-image-78.jpeg');
    padding-top: 2rem;

  }

  .galeria h2{
    
    text-align: center;
    color: rgb(15, 15, 16);
    margin-bottom: 2rem;
    margin: 2rem;
    font-size: 30px;
  }

  .galeria .contenido img {
    
    width: 500px;
    margin: auto  30%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .galeria .contenido img:hover {
    	
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);

  }

  /* ubuacacion */

  .ubicacion {
    background-color: aqua;
  }

  .ubicacion h3{
    text-align: center;
    margin: 2rem;
    color: blue;
    font-size: 35px;
  }

  .ubicacion .mapa{
    margin-left: 25%;
    width: 50%;
   
  }

  .ubicacion .parrafo{
    
    color: black;
    font-size: 20px;
    text-align: center;
  }

  footer{
    margin-top: 3rem;
    background-color: rgb(6, 6, 24);
  }

  footer .container-footer .imageFooter img{
    width: 250px;
  }
  footer .container-footer .caja {
  
   color: white;
  }
  footer .container-footer .caja .contacto{
    list-style: none;
   
    margin: auto;
    flex-direction: column;
    }




   


  



