.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#f4f8fb8c;
    width:340px;
    height:500px;
    border-radius: 30px;
  }
  .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
    color: rgb(234, 234, 245);
    background-color: rgb(18, 17, 17);
  }
  #creditos{
    display:block;
    padding-top:20px;
    color:rgba(228, 218, 218, 0.811);
    text-align: center;
    width:300px;
  }
  #resultado{
    
    color: #fff;
    display:block;
    text-align:center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(12, 2, 2);
    border-radius: 25px; 
  }

  .full{
    max-width: 280px;
  }


  body{
    background: url(https://d7lju56vlbdri.cloudfront.net/var/ezwebin_site/storage/images/_aliases/img_1col/noticias/el-libro-blanco-de-las-matematicas-propone-64-medidas-para-impulsar-esta-ciencia-en-espana/8402718-6-esl-MX/El-Libro-Blanco-de-las-Matematicas-propone-64-medidas-para-impulsar-esta-ciencia-en-Espana.jpg);
    width: 70%;
    box-sizing: border-box;
  }