
body{
  background-color:lightgrey;
}

.verde{
  margin-left: 30px;
  
  background-color: rgb(19, 224, 19);
  
  width: 20%;
  height: 90px;
  float: left;
}

.verde ul li {
  margin-left: -2rem;
  list-style: none;
}

.amarrillo{
  margin-left: 3rem;
  background-color: yellow;
  width: 45%;
  height: 300px;
  float: left;

}

.amarrillo p{
  width: 300px;
  float: left;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.amarrillo img{
 width: 250px;
 float: right;
 margin-top: 15px;

}

.dere{
  margin-left: 3rem;
  width: 20%;
  background-color: rgb(65, 161, 133);
  float: left;
}
